requests
python-dotenv
OTXv2
apscheduler
flask
beautifulsoup4
flask-cors
pymysql
lxml
alibabacloud_waf_openapi20211001
alibabacloud_sls20201230
python-whois
feedparser
markdown
gunicorn
pandas
scikit-learn
keras
nltk
matplotlib
tensorflow
seaborn